.auth{
    background-image:url('/assets/hotel-images/login.jpg');
    background-position:center;
    background-size:cover;
    height:100%;
}
.height{
    height:300px;
}
#auth{
    padding-top:200px;
}