
.cart{
    background-image:url('/assets/hotel-images/cart.jpg');
    background-position:center;
    background-size:cover;
    min-height:900px;
}
#cart{
    padding-top:200px;
}
#image{
    height:150px;
    width:300px;
}
