<div class="about">
    <div class="container" id="abt">
        <h1 id="welcome">Welcome to Bon Appetit</h1>
        <div class="row">
            <div class="col-md-4">
            <img id="res" src="../assets/hotel-images/reserve.jpg"></div>
            <p class="col-md-6" id="lorem">Nunc eu pretium ligula. Morbi id aliquet libero. Praesent gravida mattis
                est, quis eleifend orci
                ultricies id. Nulla laoreet volutpat tellus et pharetra. Duis mattis lectus quis diam commodo vehicula.
                Suspendisse egestas vitae tellus id consectetur. Donec felis metus, sollicitudin eget nunc ut, sagittis
                sagittis lacus.</p>
        </div>
    </div>
</div>