.menu{
    background-image:url('/assets/hotel-images/menu.jpg');
    background-position:center;
    background-size:cover;
    margin-bottom: 70px;
    
}
#product{
    padding-top:150px;
    height:100%;
}
#me{
  padding-top:80px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    
}

@media only screen and (max-width: 768px) {
    
   img {
       margin-top: 20px;
   }
}

    