<div class="menu">
<div class="container" id="product">

    <h1 class="text-center mt-4" id="me">Our Awesome Menu</h1>
    <div class="row m-2" >
  
      <img class="col-4" routerLink="/products/ch" src="../assets/hotel-images/chicken.jpg">
  
  
      <img class="col-4" routerLink="/products/mu" src="../assets/hotel-images/mutton.jpg">
  
  
      <img class="col-4" routerLink="/products/eg" src="../assets/hotel-images/egg.jpg">
  
    </div>
    <div class="row m-2">
  
      <img class="col-4" routerLink="/products/pr" src="../assets/hotel-images/prawn.jpg">
  
      <img class="col-4"routerLink="/products/veg" src="../assets/hotel-images/tikka.jpg">
  
  
      <img class="col-4" routerLink="/products/ot" src="../assets/hotel-images/naan.jpg">
  
    </div>
    <div class="row m-2">
      <img class="col-md-4 offset-4" routerLink="/products/de" src="../assets/hotel-images/dessert.jpg">
    </div>
  </div>