#slide1{
    color:lawngreen;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
}
#visit{
    color:black;
    font-weight:bold;
    font-size:30px;
}